

body {
    background-color: #418BFF;
    min-height: 80vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h1{
        margin: auto;
        padding: 20px;
        font-size: 30px;
    }

    .sub-container {
        margin: auto;
        padding: 20px
    }

    .author {
        margin: auto;
        padding: 20px
    }
    
}


